/*蓝色*/
$blue_btn_bg :#389ff3;
$blue_btn_bg_hover: #60b2f5;
$blue_bg :#389ff3;
$blue_font :#389ff3;
$blue_border : #389ff3;
/*白色*/
$white_bg:#fff;
$white_font:#fff;
$white_border:#fff;
/*黑色*/
$black_bg:#535353;
$black_font:#535353;
$black_border:#535353;
/*红色*/
$red_bg :#ff6969;
$red_bg_hover:#ff8888;
$red_font:#ff6969;
$red_font_hover:#ff6969;
$red_border:#ff6969;
/*橘色*/
$orange_bg :#ff9c00;
$orange_font:#ff9c00;
$orange_font_hover:#ff9c00;
$orange_border:#ff9c00;
/*绿色*/
$green_btn_bg:#00c58b;
$green_btn_bg_hover:#33d1a2;
$green_bg:#00c58b;
$green_font:#00c58b;
$green_border:#00c58b;
/*灰色*/
$gray_bg:#939393;
$gray_font:#939393;
$gray_border:#939393;
/*淡灰色 1*/
$d_gray_bg:#ddd;
$d_gray_font:#ddd;
$d_gray_border:#ddd;
/*淡灰色*/
$light_gray_bg:#f4f5f6;
$light_gray_font:#f4f5f6;
$light_gray_border:#f4f5f6;
/*弹窗蓝色*/
$window_blue_bg:#1d83e4;
$window_blue_font:#1d83e4;
$window_blue_border:#1d83e4;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  /*蓝色*/
  blue_btn_bg:$blue_btn_bg;
  blue_btn_bg_hover:$blue_btn_bg_hover;
  blue_bg:$blue_bg;
  blue_font:$blue_font;
  blue_border:$blue_border;
  /*弹窗蓝色*/
  window_blue_bg:$window_blue_bg;
  window_blue_bg:$window_blue_font;
  window_blue_bg:$window_blue_border;
  /*白色*/
  white_bg:$white_bg;
  white_font:$white_font;
  white_border:$white_border;
  /*黑色*/
  black_bg:$black_bg;
  black_font:$black_font;
  black_border:$black_border;
  /*红色*/
  red_bg:$red_bg;
  red_bg_hover:$red_bg_hover;
  red_font:$red_font;
  red_font_hover:$red_font_hover;
  red_border:$red_border;
  /*绿色*/
  green_btn_bg:$green_btn_bg;
  green_btn_bg_hover:$green_btn_bg_hover;
  green_bg:$green_bg;
  green_font:$green_font;
  green_border:$green_border;
  /*灰色*/
  gray_bg:$gray_bg;
  gray_font:$gray_font;
  gray_border:$gray_border;
  /*淡灰色 1*/
  d_gray_bg:$d_gray_bg;
  d_gray_font:$d_gray_font;
  d_gray_border:$d_gray_border;
  /*淡灰色*/
  light_gray_bg:$light_gray_bg;
  light_gray_font:$light_gray_font;
  light_gray_border:$light_gray_border;

}
